<div class="banner navbar navbar-default">
<div class="container-fluid">
<p><%= link_to 'Simple Airbnb', flats_path %></p>
<input type="text" value="Search">
<p><button>Search</button> <%= link_to 'Add Flat', new_flat_path %></p>
</div>
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our flats(3)</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="flat-card">
      <% @flats.each do |flat| %>
        <div class="flat-card-image"></div>
        <div class="flat-card-content">

              <h3><%= flat.name%></h3>
              <p><%= flat.address %></p>
              <p>
                <i class="fab fa-solid fa-user-group"></i><%= flat.number_of_guests %>
                <i class="fab fa-solid fa-dollar-sign"></i><%= flat.price_per_night %>
              </p>

        </div>
        <div class="flat-card-actions">
          <%= link_to 'More info', flat_path(flat) %>
          <%= link_to 'Edit', edit_flat_path(flat) %>
          <%= link_to "Remove",
            flat_path(flat),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
